<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <title>Battlefield 3D</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              crossorigin="anonymous"> </link>

        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
              crossorigin="anonymous"></link>
		
		<style>
			#logo {
				margin-bottom: 30px;			
			}
			#logo img {
				max-width: 90%;
			}
			#logo h4 {
			    margin-top: -31px;
			    margin-left: 248px;
			}
			.well input {
			    width: 100%;
			}
			.well .btn {
				width: 100%;
				display: block;
				margin-top: 7px;
			}
			.alert {
			    padding: 4px;
			    margin-bottom: 4px;
			}			
			@media screen and (max-width: 579px) {
				#logo h4 {
				    margin-top: 5px;
				    margin-left: 0px;
				    text-align: center;
				}				
			}
		</style>
		
    </head>
    <body>
        <div class="container">
            <div id="logo">
	            <img th:src="@{/pics/logo.png}" alt="Battlefield 3D" />
	            <h4>A minimal HTML5 multiplayer game based on BabylonJS and WebSocket</h4>
            </div>
            
            <!-- Regular login form -->
			<div class="row justify-content-md-center" th:if="${userUnavailable != '*'}">
			  <div class="col col-md-4 col-sm-5"></div>
			  <div class="col col-md-3 col-sm-4">
	            <div class="well">
	                <form th:action="@{/login}" method="post">
	                    <div>
	                        <label for="username" class="hide">Username: </label>
	                        <input type="text" id="username" name="username" placeholder="Choose your username" autocomplete="off" required="" />
	                    </div>
	                    <button type="submit" class="btn btn-primary" id="join">
	                    	<i class="glyphicon glyphicon-log-in"></i> Join</button>
	                </form>
	            </div>
			  </div>
			</div>
			
			<!-- User unavailable message -->
			<div class="row justify-content-md-center" th:if="${userUnavailable == '*'}">
			  <div class="col col-md-3 col-sm-4"></div>
			  <div class="col col-md-4 col-sm-5">
	            <div class="well">
	            	<div class="alert alert-danger">User not available</div>
	            	<p>The chosen user is already connected to the battlefield arena.
						To continue, you must choose a different one or
						wait for the end of current session.
	            	<br/></p>
					<div>
						<a class="btn btn-primary" th:href="@{/logout}">
							<i class="glyphicon glyphicon-off"></i> Change username</a>
						
						<a class="btn btn-info" th:href="@{/}">
							<i class="glyphicon glyphicon-refresh"></i> Retry</a>
					</div>	            	
	            </div>
			  </div>
			</div>
						                        
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        	crossorigin="anonymous"></script>
        
    </body>
</html>
